<footer class="site-footer">
	<div class="wrapper">
		
		<a href="https://www.facebook.com/PadPrepper-1343336495713326/" target="_blank" alt="Facebook Company Profile" class="footer-icon">
			<i class="fa fa-facebook hand-on-hover" aria-hidden="true"></i>
		</a>
		<a href="https://www.yelp.com/biz/padprepper-chicago-2" target="_blank" alt="Yelp Company Profile" class="footer-icon">
			<i class="fa fa-yelp hand-on-hover" aria-hidden="true"></i>
		</a>
		<a href="https://www.linkedin.com/company/padprepper?report%2Esuccess=KJ_KkFGTDCfMt-A7wV3Fn9Yvgwr02Kd6AZHGx4bQCDiP6-2rfP2oxyVoEQiPrcAQ7Bf" target="_blank" alt="LinkedIn Company Profile" class="footer-icon">
			<i class="fa fa-linkedin hand-on-hover" aria-hidden="true"></i>
		</a>
	
		<div itemscope itemtype="http://schema.org/LocalBusiness">
			<a href="tel:+17739177793">
				 <i class="fa fa-phone" aria-hidden="true"></i>
				 <span itemprop="telephone">(773) 917-7793</span>
			</a>
			
		  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		    <span itemprop="streetAddress">2338 S. Blue Island Ave.,</span>
		    <span itemprop="addressLocality">Chicago</span>,
		    <span itemprop="addressRegion">IL</span>
				<span itemprop="postalCode">60608</span>
		  </div>
			
			<div class="contact center-block">
				<a href="mailto:service@padprepper.com" itemprop="email">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<span>service@padprepper.com<span>
				</a>
			</div>
			
			<p><span itemprop="name">PadPrepper</span>&nbsp;&#169;&nbsp;2017</p>
		</div>
	
	</div>
</footer>